Makefile
build/
*.o
test/ara
test/open
test/close
test/end
test/read
test/write
test/unlink
example/raf/raf
example/simple/simple
.vs
*.aps
*.obj
*.log
*.pch
*.pdb
*.sdf
*.vcxproj.user
*.exe
*.dll
*.lib